{% extends "base.html" %}

{% block title %}Task list{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-8">
      <h2>Task list</h2>
    </div>
    <div class="col-4 d-flex justify-content-end">
      <a href="{% url 'company:task-create' %}" class="btn btn-success mb-3">Create new task</a>
    </div>
  </div>

  <div class="card mb-4 bg-dark">
    <div class="card-body">
      <form action="" method="get">
        <div class="d-flex align-items-end mb-3">
          <div class="me-3">
            {{ search_form.name }}
          </div>
          <div class="me-3">
            {{ search_form.tag }}
          </div>
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>

  <div class="card bg-dark mb-4">
      <div class="card-body">
          <table class="table table-bordered table-hover table-dark">
            <thead>
              <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Priority</th>
                <th>Deadline</th>
                <th>Completed</th>
                <th>Assignees</th>
                <th>Tags</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for task in task_list %}
                <tr>
                  <td>{{ task.name }}</td>
                  <td>{{ task.task_type.name }}</td>
                  <td>
                    {% if task.priority == 'Urgent' %}
                      <span class="priority-urgent">{{ task.priority }}</span>
                    {% elif task.priority == 'High' %}
                      <span class="priority-high">{{ task.priority }}</span>
                    {% elif task.priority == 'Medium' %}
                      <span class="priority-medium">{{ task.priority }}</span>
                    {% else %}
                      <span class="priority-low">{{ task.priority }}</span>
                    {% endif %}
                  </td>
                  <td>{{ task.deadline|date:"Y-m-d" }}</td>
                  <td>
                    <a href="{% url 'company:toggle-assign-to-worker' task.pk %}" class="btn btn-sm {% if task.is_completed %}btn-secondary{% else %}btn-success{% endif %}">
                      {% if task.is_completed %}
                        ✅
                      {% else %}
                        ❌
                      {% endif %}
                    </a>
                  </td>
                  <td>
                    {% for worker in task.assignees.all %}
                      <span class="badge bg-info">{{ worker.username }}</span>
                    {% endfor %}
                  </td>
                  <td>
                    {% for tag in task.tags.all %}
                      <span class="badge bg-secondary">{{ tag.name }}</span>
                    {% endfor %}
                  </td>
                  <td>
                    <a href="{% url 'company:task-detail' task.pk %}" class="btn btn-primary btn-sm">Details</a>
                    <a href="{% url 'company:task-update' task.pk %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'company:task-delete' task.pk %}" class="btn btn-danger btn-sm">Delete</a>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="8" class="text-center">No tasks</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
  </div>
{% endblock %}